/* CSS for MyXBlock */

.myxblock_block .count {
    font-weight: bold;
}

.myxblock_block p {
    cursor: pointer;
}

details{
    width: 40%;
    font: 20px 'Montserrat';
}

details summary{
    cursor: pointer;
    margin: 12px 0;
    font-weight: 600 ;
}

